In [2]:
import pandas as pd

city_df = pd.read_csv("city-basics_iowa.csv")
lodes_df = pd.read_csv("ia_od_main_JT00_2010.csv")
lodes_df = lodes_df.drop(['createdate'], axis=1)
lodes_df.columns = ["work block", "home block", "total jobs", "Age [0-29]", "Age [30-54]", "Age [55+]", "Salary, Monthly [0-1250]", "Salary, Monthly [1251-3333]", "Salary, Monthly [3334+]", "Jobs: Goods Producing", "Jobs: Trade, Transport, Utilities", "Jobs: Other"]

lodes_df["wb census"] = lodes_df["work block"].apply(lambda x: str(x)[:12])
lodes_df["hb census"] = lodes_df["home block"].apply(lambda x: str(x)[:12])
lodes_df["year"] = "2010"

In [17]:
blockMappings = pd.read_csv("new-block-city-mappings.csv")

censusDict = blockMappings[["Census Block ID", "City"]].set_index("Census Block ID").to_dict()["City"]
latDict = blockMappings[["City", "Lat"]].set_index("City").to_dict()["Lat"]
lonDict = blockMappings[["City", "Lon"]].set_index("City").to_dict()["Lon"]

latDf = pd.DataFrame.from_dict(latDict, orient="index").reset_index()
lonDf = pd.DataFrame.from_dict(lonDict, orient="index").reset_index()
censusDf = pd.DataFrame.from_dict(censusDict, orient="index").reset_index()

In [19]:
def getCity(censusBlock):
    return censusDict[int(censusBlock)]
#     return df[df["Census Block ID"] == censusBlock]["City"]
    
testSet = lodes_df
testSet = testSet.drop(['work block', 'home block'], axis=1)
testSet = testSet.groupby(['wb census', 'hb census']).sum().reset_index()
testSet["home city"] = testSet["hb census"].apply(getCity)
testSet = testSet.drop("hb census", axis=1)
testSet["work city"] = testSet["wb census"].apply(getCity)
testSet = testSet.drop("wb census", axis=1)
testSet.sort_values(["home city", "work city"], inplace=True)
testSet.set_index(["home city", "work city"], inplace=True)

lodes_df = pd.read_csv("ia_od_main_JT00_2010.csv")
lodes_df = lodes_df.drop(['createdate'], axis=1)
lodes_df.columns = ["work block", "home block", "total jobs", "Age [0-29]", "Age [30-54]", "Age [55+]", "Salary, Monthly [0-1250]", "Salary, Monthly [1251-3333]", "Salary, Monthly [3334+]", "Jobs: Goods Producing", "Jobs: Trade, Transport, Utilities", "Jobs: Other"]

lodes_df["wb census"] = lodes_df["work block"].apply(lambda x: str(x)[:12])
lodes_df["hb census"] = lodes_df["home block"].apply(lambda x: str(x)[:12])
lodes_df["year"] = "2010"

In [20]:
import math
import matplotlib.pyplot as plt
import sys
sys.path.insert(0, '/Users/ewd/ShrinkSmart/')
from ShrinkSmart import ShrinkSmart

jobFlow = pd.pivot_table(testSet, index=["home city", "work city"], aggfunc=sum).reset_index()

for city in ShrinkSmart.cities:
    jobPlot = jobFlow.loc[jobFlow["home city"] == city].sort_values("total jobs", ascending=0)
    jobPlot["x"] = jobPlot["work city"].apply(lambda x: lonDict[x])
    jobPlot["y"] = jobPlot["work city"].apply(lambda x: latDict[x])
    jobPlot["log jobs"] = jobPlot["total jobs"].apply(lambda x: math.log2(x))

    jobFlow["lon work"] = jobFlow["work city"].apply(lambda x: lonDict[x])
    jobFlow["lat work"] = jobFlow["work city"].apply(lambda x: latDict[x])

In [21]:
featureData = pd.DataFrame(jobFlow)
featureData["lon home"] = featureData["home city"].apply(lambda x: float(lonDf[lonDf["index"] == x][0]))
featureData["lat home"] = featureData["home city"].apply(lambda x: float(latDf[latDf["index"] == x][0]))
featureData.to_csv("iowa-job-out.csv")

In [22]:
from tqdm import tqdm

workSet = pd.DataFrame(featureData)
#workSet = workSet.drop(['work block', 'home block'], axis=1)
#testSet = testSet.groupby(['wb census', 'hb census']).sum().reset_index()
#workSet["home city"] = workSet["hb census"].apply(getCity)
#workSet = workSet.drop("hb census", axis=1)
#workSet["work city"] = workSet["wb census"].apply(getCity)
#workSet = workSet.drop("wb census", axis=1)
workSet.sort_values(["work city", "home city"], inplace=True)
workSet.set_index(["work city", "home city"], inplace=True)
workPivot = pd.pivot_table(workSet, index=["work city", "home city"], aggfunc=sum).reset_index()
#workPlot = workFlow.loc[workFlow["work city"] == "Altoona, IA"].sort_values("total jobs", ascending=0)
#workPivot = workPivot.drop(["x(h)"], axis=1)
workPivot

,work city,home city,Age [0-29],Age [30-54],Age [55+],Jobs: Goods Producing,Jobs: Other,"Jobs: Trade, Transport, Utilities","Salary, Monthly [0-1250]","Salary, Monthly [1251-3333]","Salary, Monthly [3334+]",lat home,lat work,lon home,lon work,total jobs
0,"Ackley, IA","Ackley, IA",21,40,29,2,82,6,44,33,13,42.556675,42.556675,-92.976881,-92.976881,90
1,"Ackley, IA","Alden, IA",0,1,1,0,1,1,0,1,1,42.557563,42.556675,-93.380889,-92.976881,2
2,"Ackley, IA","Allison, IA",0,1,0,0,1,0,0,1,0,42.822041,42.556675,-92.761757,-92.976881,1
3,"Ackley, IA","Ames, IA",1,0,0,0,1,0,0,1,0,42.005631,42.556675,-93.649207,-92.976881,1
4,"Ackley, IA","Anamosa, IA",0,1,0,0,1,0,0,0,1,42.104987,42.556675,-91.278666,-92.976881,1
5,"Ackley, IA","Beaman, IA",0,1,0,0,1,0,0,0,1,42.210067,42.556675,-92.776527,-92.976881,1
6,"Ackley, IA","Belle Plaine, IA",0,1,0,0,0,1,1,0,0,41.899067,42.556675,-92.278236,-92.976881,1
7,"Ackley, IA","Bristow, IA",1,6,2,0,9,0,2,6,1,42.758904,42.556675,-92.936815,-92.976881,9
8,"Ackley, IA","Cedar Falls, IA",2,0,0,0,1,1,1,1,0,42.536881,42.556675,-92.444156,-92.976881,2
9,"Ackley, IA","Charles City, IA",1,0,0,0,1,0,1,0,0,43.083170,42.556675,-92.713044,-92.976881,1
10,"Ackley, IA","Clear Lake, IA",0,1,1,0,2,0,1,0,1,43.061825,42.556675,-93.378758,-92.976881,2
11,"Ackley, IA","Clive, IA",0,1,0,0,0,1,0,1,0,41.600451,42.556675,-93.776702,-92.976881,1
12,"Ackley, IA","Clutier, IA",0,1,0,0,1,0,0,1,0,42.079449,42.556675,-92.327893,-92.976881,1
13,"Ackley, IA","Coburg, IA",0,1,0,0,1,0,0,0,1,40.894089,42.556675,-95.232558,-92.976881,1
14,"Ackley, IA","Colo, IA",0,0,1,0,1,0,1,0,0,41.964712,42.556675,-93.356164,-92.976881,1
15,"Ackley, IA","Conrad, IA",1,0,4,0,5,0,2,0,3,42.210061,42.556675,-92.874153,-92.976881,5
16,"Ackley, IA","Council Bluffs, IA",1,1,1,0,1,2,2,0,1,41.160269,42.556675,-95.880936,-92.976881,3
17,"Ackley, IA","De Soto, IA",0,1,0,0,1,0,0,1,0,41.503191,42.556675,-94.012762,-92.976881,1
18,"Ackley, IA","Decorah, IA",0,1,1,0,0,2,1,1,0,43.306069,42.556675,-91.795404,-92.976881,2
19,"Ackley, IA","Des Moines, IA",0,0,1,0,0,1,1,0,0,41.533772,42.556675,-93.635398,-92.976881,1
20,"Ackley, IA","Dougherty, IA",0,3,1,0,4,0,0,3,1,42.907494,42.556675,-92.965906,-92.976881,4
21,"Ackley, IA","Eldora, IA",2,4,1,0,7,0,2,4,1,42.360767,42.556675,-93.079900,-92.976881,7
22,"Ackley, IA","Evansdale, IA",0,2,0,1,1,0,0,2,0,42.459451,42.556675,-92.277813,-92.976881,2
23,"Ackley, IA","Fairbank, IA",0,1,0,0,0,1,0,1,0,42.642142,42.556675,-92.036448,-92.976881,1
24,"Ackley, IA","Floyd, IA",0,0,1,0,1,0,0,1,0,43.155854,42.556675,-92.810152,-92.976881,1
25,"Ackley, IA","Fort Dodge, IA",1,1,0,0,2,0,0,2,0,42.529667,42.556675,-94.235692,-92.976881,2
26,"Ackley, IA","Fredericksburg, IA",1,0,0,1,0,0,0,1,0,42.979690,42.556675,-92.199221,-92.976881,1
27,"Ackley, IA","Garner, IA",0,1,0,0,0,1,0,0,1,43.097802,42.556675,-93.604688,-92.976881,1
28,"Ackley, IA","Geneva, IA",2,5,0,0,6,1,0,4,3,42.665318,42.556675,-93.144043,-92.976881,7
29,"Ackley, IA","Grundy Center, IA",0,2,0,0,0,2,0,2,0,42.354462,42.556675,-92.771261,-92.976881,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70186,"Zearing, IA","Zearing, IA",4,10,3,0,12,5,6,7,4,42.209012,42.209012,-93.246115,-93.246115,17
70187,"Zwingle, IA","Baldwin, IA",2,3,2,4,0,3,3,2,2,42.032841,42.221030,-90.759575,-90.678957,7
70188,"Zwingle, IA","Balltown, IA",0,1,0,0,1,0,1,0,0,42.675262,42.221030,-90.896898,-90.678957,1
70189,"Zwingle, IA","Cascade, IA",1,1,1,1,1,1,2,1,0,42.295754,42.221030,-91.052878,-90.678957,3
70190,"Zwingle, IA","Cedar Rapids, IA",0,1,0,1,0,0,0,0,1,41.935480,42.221030,-91.704624,-90.678957,1
70191,"Zwingle, IA","Center Junction, IA",0,1,1,0,0,2,1,0,1,42.121051,42.221030,-91.115012,-90.678957,2
70192,"Zwingle, IA","Davenport, IA",0,1,0,0,0,1,0,0,1,41.560368,42.221030,-90.568205,-90.678957,1
70193,"Zwingle, IA","Delaware, IA",0,1,0,0,1,0,1,0,0,42.516651,42.221030,-91.371659,-90.678957,1
70194,"Zwingle, IA","Dubuque, IA",4,1,0,1,0,4,0,5,0,42.516590,42.221030,-90.694238,-90.678957,5
70195,"Zwingle, IA","Dyersville, IA",0,1,1,0,0,2,0,1,1,42.515176,42.221030,-91.124150,-90.678957,2
70196,"Zwingle, IA","Edgewood, IA",0,0,1,0,0,1,0,0,1,42.615080,42.221030,-91.468504,-90.678957,1
70197,"Zwingle, IA","Epworth, IA",5,10,3,2,3,13,9,4,5,42.471265,42.221030,-91.096934,-90.678957,18
70198,"Zwingle, IA","Fayette, IA",0,1,0,0,0,1,0,0,1,42.817669,42.221030,-91.764679,-90.678957,1
70199,"Zwingle, IA","Manchester, IA",0,1,0,0,0,1,0,0,1,42.487628,42.221030,-91.453827,-90.678957,1
70200,"Zwingle, IA","Maquoketa, IA",0,1,1,2,0,0,0,1,1,42.032822,42.221030,-90.665261,-90.678957,2
70201,"Zwingle, IA","Marshalltown, IA",0,1,0,0,0,1,1,0,0,42.011926,42.221030,-92.912381,-90.678957,1
70202,"Zwingle, IA","Monticello, IA",2,1,2,2,1,2,5,0,0,42.250278,42.221030,-91.179686,-90.678957,5
70203,"Zwingle, IA","Morley, IA",0,1,0,0,0,1,0,0,1,42.011840,42.221030,-91.229694,-90.678957,1
70204,"Zwingle, IA","New Vienna, IA",1,0,0,0,0,1,0,1,0,42.558658,42.221030,-91.134439,-90.678957,1
70205,"Zwingle, IA","Newton, IA",0,1,0,1,0,0,0,1,0,41.692832,42.221030,-93.057968,-90.678957,1
70206,"Zwingle, IA","Parkersburg, IA",2,0,0,0,0,2,2,0,0,42.642462,42.221030,-92.703160,-90.678957,2
70207,"Zwingle, IA","Prairieburg, IA",0,1,0,0,1,0,1,0,0,42.296359,42.221030,-91.397914,-90.678957,1
70208,"Zwingle, IA","Ryan, IA",0,1,1,0,0,2,0,0,2,42.383719,42.221030,-91.549688,-90.678957,2
70209,"Zwingle, IA","Shell Rock, IA",0,1,0,0,0,1,0,0,1,42.709565,42.221030,-92.594325,-90.678957,1
70210,"Zwingle, IA","Washington, IA",0,0,1,0,0,1,0,0,1,41.297399,42.221030,-91.691704,-90.678957,1
70211,"Zwingle, IA","West Union, IA",0,0,1,0,0,1,0,1,0,42.964197,42.221030,-91.808230,-90.678957,1
70212,"Zwingle, IA","Wheatland, IA",0,1,0,1,0,0,0,1,0,41.829513,42.221030,-90.845466,-90.678957,1
70213,"Zwingle, IA","Worthington, IA",0,0,1,1,0,0,1,0,0,42.386308,42.221030,-91.130584,-90.678957,1
70214,"Zwingle, IA","Wyoming, IA",0,1,0,0,1,0,1,0,0,42.055906,42.221030,-91.013757,-90.678957,1
70215,"Zwingle, IA","Zwingle, IA",1,3,0,0,1,3,2,0,2,42.221030,42.221030,-90.678957,-90.678957,4

In [23]:
workPivot.to_csv("iowa-work-flow.csv")